#mainCards {
  padding-top: 60px;
}

button {
  margin-right: 10px;
}

.login {
  /* background-color: rgba(139, 86, 171, 0.7); */
  background-color: #cd5c5c;
  border: transparent;

}

.icons {
  display: inline-flex;
}

.mainCard {
  height: 450px;
  width: 100%;
}

.navbar {
background-color: #faebd7;
}

.footercolor {
background-color: #e9967a;
margin-top: 30px;
}

.card-img-top {
  height: 350px;
}

.pspacing {
  padding-right: 20px;
}
.icons{
 display:inline-flex;
 margin-left: 122px;
}

#schoolsPage {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 100px;
  margin-left: 350px;
}

#myFooter {
  padding-top: 40px;
}

.sectionTitle {
  background-color: #fbf9f5;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0px;
  color: black;
  text-decoration: none;
}

.sectionTitle:hover {
  color:black !important;;
  text-decoration: none !important;
}

.pageTitle {
  margin: 40px 0px 30px 0px;
}

.navbar-brand {
  padding-left: 20px;
}

.statsExample {
  width: 300px;
}